.text-menor{
  font-size: 0.813rem;
}

.divs-facilidades{
  width: 325px;
}

.verde-limao{
  color: green;
}

.botao-lilas{
  background-color: rgb(185, 141, 255);
  &:hover{
    background-color: black;
color: white;
  }
}